* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h3 {
  text-align: left;
  color: #1f6cdc;
  padding-top: 19px;
  font-weight: bold;
}
body {
  font-family: 'Golos Text', sans-serif;
}
.container {
  max-width: 120rem;
  width: 80%;
  margin: 0 auto;
}
.sup_title {
  color: black;
  border-bottom: 1px solid #edefea;
  font-size: calc(35px + 1vw);
  padding-bottom: 20px;
}
section {
  text-align: center;
  border-bottom: 1px solid #edefea;
  cursor: pointer;
}
.fa-solid.fa-plus {
  display: none;
}
.fa-solid.fa-x {
  display: none;
}
/* Section hover text
**************************************/
.container:hover h3 {
  color: black;
}
.container:hover .fa-solid.fa-plus {
  display: block;
}
/* Img copy
*************************************/
.section_copy:hover .img_copy {
  width: 350px;
  height: 341px;
}
.section_copy:hover .fa-solid.fa-x {
  display: block;
}
.section_copy:hover .fa-solid.fa-plus {
  display: none;
}
/* .section_copy:hover .fa-solid.fa-plus {
  display: block;
}
.section_keep:hover .fa-solid.fa-plus {
  display: block;
}
.section_work:hover .fa-solid.fa-plus {
  display: block;
} */

/* Img keep
*************************************/
.section_keep:hover .img_keep {
  width: 350px;
  height: 341px;
}
.section_keep:hover .fa-solid.fa-x {
  display: block;
}
.section_keep:hover .fa-solid.fa-plus {
  display: none;
}
/* Img work
*************************************/
.section_work:hover .img_work {
  width: 350px;
  height: 341px;
}
.section_work:hover .fa-solid.fa-x {
  display: block;
}
.section_work:hover .fa-solid.fa-plus {
  display: none;
}
/* Img dude
*************************************/
.section_dude:hover .img_dude {
  width: 350px;
  height: 341px;
}
.section_dude:hover .fa-solid.fa-x {
  display: block;
}
.section_dude:hover .fa-solid.fa-plus {
  display: none;
}
/* Img relax
*************************************/
.section_relax:hover .img_relax {
  width: 350px;
  height: 341px;
}
.section_relax:hover .fa-solid.fa-x {
  display: block;
}
.section_relax:hover .fa-solid.fa-plus {
  display: none;
}

/* Image section
********************************
********************************/
.img_dude,
.img_relax,
.img_work,
.img_keep,
.img_copy {
  max-width: 100%;
  width: 0;
  height: 0;
  padding-bottom: 19px;
  transition: all 0.5s;
}
/* Section active
******************************************/
.section_copy_inner:focus .img_copy {
  width: 350px;
  height: 341px;
}
.section_copy_inner:focus .sub_title_copy {
  color: #000;
}
.section_copy_inner:focus .fa-solid.fa-x {
  display: block;
}
.section_copy_inner:focus .fa-solid.fa-plus {
  display: none;
}
/* Img keep
*************************************/
.section_keep_inner:focus .img_keep {
  width: 350px;
  height: 341px;
}
.section_keep_inner:focus .sub_title_keep {
  color: #000;
}
.section_keep_inner:focus .fa-solid.fa-x {
  display: block;
}
.section_keep_inner:focus .fa-solid.fa-plus {
  display: none;
}
/* Img work
*************************************/
.section_work_inner:focus .img_work {
  width: 350px;
  height: 341px;
}
.section_work_inner:focus .sub_title_work {
  color: #000;
}
.section_work_inner:focus .fa-solid.fa-x {
  display: block;
}
.section_work_inner:focus .fa-solid.fa-plus {
  display: none;
}
/* Img dude
*************************************/
.section_dude_inner:focus .img_dude {
  width: 350px;
  height: 341px;
}
.section_dude_inner:focus .sub_title_dude {
  color: #000;
}
.section_dude_inner:focus .fa-solid.fa-x {
  display: block;
}
.section_dude_inner:focus .fa-solid.fa-plus {
  display: none;
}
/* Img relax
*************************************/
.section_relax_inner:focus .img_relax {
  width: 350px;
  height: 341px;
}
.section_relax_inner:focus .sub_title_relax {
  color: #000;
}
.section_relax_inner:focus .fa-solid.fa-x {
  display: block;
}
.section_relax_inner:focus .fa-solid.fa-plus {
  display: none;
}
/* Others
*****************************************/
.section_relax_inner:focus .sub_title_relax {
  color: #000;
}
.work_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* <i class="fa-solid fa-plus"></i> + */
/* <i class="fa-solid fa-x"></i> x */
